#audio {

    .sounds {

        transition: opacity .5s;

        &.fading {
            pointer-events: none;
            opacity: 0;
        }

        h2 span {
            display: block;
            font-weight: normal;
        }

        .decisions {
            display: inline-block;

            li:last-child {
                margin-top: 40px;
            }
        }

        .btn {
            display: block;
            margin-bottom: 20px;

            span {
                border-bottom: 2px solid @white;
                display: block;
                padding-bottom: 3px;
                margin-bottom: 5px;
            }

            &:hover {
                span {
                    border-color: @black;
                }
            }

        }
    }


}