#audio {

    .sounds {

        transition: opacity .5s;

        &.fading {
            pointer-events: none;
            opacity: 0;
        }
    }

    .chapter, .intro {

        h2 {
            margin: 18px 0;

            @media (min-width: @screen-desktop) {
                margin: 25px 0;
            }

        }

        h2 span:first-child {
            display: block;
            font-weight: normal;
            margin-bottom: 3px;
        }

        .icon {
            background: @black;
            height: 100px;
            margin: 0 auto;
            position: relative;
            width: 100px;

            @media (min-width: @screen-desktop) {
                height: 125px;
                width: 125px;
            }

            span {
                font-size: 40px;
                position: absolute;
                    left: 50%;
                    top: 50%;
                transform: translate(-50%,-50%);

                @media (min-width: @screen-desktop) {
                    font-size: 60px;
                }
            }

        }

        .decisions {

            display: inline-block;

            &.out {
                display: none;
            }

            li:last-child {
                margin-top: 40px;
            }

            .total-replay, .replay {
                span:before {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }

        .btn {
            display: block;
            margin-bottom: 20px;

            &.proceed span {
                border-bottom: 2px solid @white;
                display: block;
                padding-bottom: 3px;
                margin-bottom: 5px;
            }

            &:hover {
                span {
                    border-color: @black;
                }
            }

        }
    }

    .intro {

        position: relative;
        display: block;

        .hint, .countdown {
            display: block;
            position: relative;
            transition: opacity 0.3s;

            @media(min-width: @screen-desktop) {
                margin: 0 auto;
                width: 600px;
            }

            &.hidden {
                height: 0;
                overflow: hidden;
            }

            &.out {
                pointer-events: none;
                opacity: 0;
            }

            h3 {
                line-height: 1.5;
            }

        }

        .btn-start-audio, .box-countdown {
            display: inline-block;
        }

        .box-countdown {
            border: 2px solid @white;
            color: @white;
            display: inline-block;
            font-weight: 700;
            height: 45px;
            padding: 0;
            position: relative;
            overflow: hidden;
            text-decoration: none;
            z-index: 2;
            line-height: 41px;
            width: 45px;
        }

        .countdown {
            p {
                margin: 15px auto;
            }

            small {
                 display: block;
                 margin: 15px 0;
            }

            small:nth-of-type(1) span:before{
                margin-right: 5px;
                @media(min-width: @screen-desktop) {
                    margin-right: 10px;
                }
            }

            small:nth-of-type(2) {
                border-bottom: 1px solid rgba(255,255,255,0.5);
                border-top: 1px solid rgba(255,255,255,0.5);
                font-size: 70%;
                padding: 10px 0;
            }

        }

    }

    .credits {
        height: 400px;
        overflow: hidden;
        display: none;


        dl {
            font-size: 18px;

            &.animate {
                animation: scroll-credits 40s 1 linear;
                animation-delay: 1s;
            }

            dt {
                font-size: 20px;
                margin-top: 25px;
                margin-bottom: 5px;

                @media ( min-width: @screen-desktop ) {
                    font-size: 25px;
                }

            }

            strong {
                margin-bottom: 2px;
            }

            em {
                font-style: normal;
                font-weight: 700;
            }

            @media ( min-width: @screen-desktop ) {
                font-size: 20px;
            }

        }

        .total-replay {
            opacity: 0;
            pointer-events: none;
            position: relative;
            top: 50%;
            margin-top: -28px;


            &.in {
                opacity: 1;
                pointer-events: auto;
            }
        }

    }

    @keyframes scroll-credits {
        0% {
            transform: translate(0,0);
        }
        100% {
            transform: translate(0, -105%);
        }
    }

}