#audio {

    .sounds {

        transition: opacity .5s;

        &.fading {
            pointer-events: none;
            opacity: 0;
        }

        h2 span {
            display: block;
            font-weight: normal;
        }

        .decisions {
            display: inline-block;
        }

        .btn {
            display: block;
            margin-bottom: 20px;

            span {
                display: block;
            }

        }
    }


}